/*style.css*/

     *
    {
     margin:0;
     padding:0;
    }

    body
   {
    background: #ffffff;
    font-family: 'Asap', sans-serif;
    color: #6F6B61;
    width: 1280px;
    height: 1280px;
   }

     @font-face /* police et paragraphe */
    {
     font-family: 'Asap', sans-serif;
    }


/* container */

     #container
    {
     display: flex;
    }

     #box--2 /* dimention et couleur du coldroit */

    {
     width: 954px;
     height: 1280px;
     background-color: #ffffff; 
    }

    #box--1 /* dimension et couleur du aside/colgauche */
   {
    width: 326px;
    height: 1280px;
    background-color: #FFCA28;
   }
/* fin du container */



/* les sections dans le "aside"*/

   .user-photo /* photo cercle et bordure jaune */
   {
    border-radius: 50%;
    margin: 40px 60px 40px 60px;
    border: 3px solid #B88C1F;
    width: 200px;
    height: 200px;
   }

    #a-propos p, #contact p /* pharagraphe */
   {
    text-align: justify;
    margin: 20px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
   }

   .Titre-bloc, h2 /* couleur du titre jaune sur fond gris */
  {
   background-color: #37474F;
   color: #FFCA28;
   padding: 15px 0px 15px 0px; /* espace en largeur et hauteur dans le contenu */
   margin-bottom: 18px;
   text-align: center;
  }

 #loisirs /* modifier la hauteur de la section pour plus de place en bas d'a propos */
 {

  margin: 60px;
  margin-top: 305px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
 }

#a-propos
{
 margin-top: -5px;
}

#contact
{
 margin-top: -10px;
}


.far, .fas /* icon's modifications*/
{
 margin-right: 10px;
 color: #FFCA28;
}

.icons /* pour centrer les icons avec flex */
{
 display: flex;
 justify-content: space-around;
}


.fa-basketball-ball  /* important / pour centrer les icons */
{
  height: 50px;
  width: 50px;
  color: black;
  padding-top:17px;
  padding-left: 20px;
  font-size: 30px;
  margin-right: 0px;
  border-radius: 50%;
  border: 1px solid black;
}

.fa-laptop-code
{
  height: 50px;
  width: 50px;
  color: black;
  padding-top:17px;
  padding-left: 15px;
  padding-right: 3px;
  font-size: 30px;
  margin-right: 0px;
  border-radius: 50%;
  border: 1px solid black;
}

.fa-bible
{
  height: 50px;
  width: 50px;
  color: black;
  padding-top:17px;
  padding-left: 20px;
  font-size: 30px;
  margin-right: 0px;
  border-radius: 50%;
  border: 1px solid black;
}


/* fin du "Aside" */



/* sections dans les Articles */


    .span-un
    {
     color: #FFCA28
    }

    #formations /* emplacement du titre */
   {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    color: black;
   }

    #experiences /* emplacement du titre */
   {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    color: black;
   }

    #recommandations /* emplacement du titre */
   {
    margin-top: 85px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    color: black;
   }

   h1 /* titre */
  {
   font-size: 48px;
   color: black;
   margin: 40px 390px -110px 36px;
  } 

  h3 /* titre des sections */
 {

  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
 }




   header p /* "dév javascript / hauteur et police avec le surline jaune "*/
  {
   font-weight: bold;
   margin-top: 120px;
   margin-left: 38px;
   margin-bottom: 100px;
   margin-right: 70px;
  }

   header
  {
   margin-top: 100px;
   margin-bottom: 100px;
   margin-left: 70px;
   margin-right: 70px;
  }


  .ligne--header /* surline jaune sur le header */
 {
   border-top: 2px #FFCA28 solid;
   border-top-color: rgb(255, 202, 40);
   border-top-style: solid;
   border-top-width: 2px;
   width: 100px;
   margin-top: -114px;
   margin-bottom: -20px;
   margin-left: 38px;
  }

    .ligne--article  /* les sections du coldroit */
     {
      border-top: 2px #FFCA28 solid;
      border-top-color: rgb(255, 202, 40);
      border-top-style: solid;
      border-top-width: 3px;
      width: 100%;
      margin-top: 10px;
     }

        .Titre   /* position des titres/ section */
       {
        font-size: 26px;
        color: black;
       } 

         #box--2, .row  /* modification des bloc's dans "article" */
          {
           display: flex;
          } 



           .bloc-1
          {
           margin-top: 15px;
           width: 30%;
          }



          .bloc-2
          {
           margin-top: 15px;
           width: 50%;
          }

          .bloc-3
          {
           margin-top: 15px;
           width: 30%;
          }

          .bloc-4
          {
           margin-top: 15px;
           width: 50%;
          }


           .bloc-5
          {
           margin-top: 15px;
           width: 30%;
          }

           .bloc-6
          {
           margin-top: 15px;
           width: 50%;
          }

           .bloc-7
          {
           margin-top: 15px;
           width: 50%;
          }

           .bloc-8
          {
           margin-top: 15px;
           width: 50%;
          }



           .bloc-2 p, .bloc-3 p, .bloc-4 p, .bloc-5 p, .bloc-6 p, .bloc-7 p, .bloc-8 p
          {
           margin-top: 15;
           margin-bottom: 15px;
           color: #6F6B61;
          }

           .bloc-2 h4, .bloc-3 h4, .bloc-4 h4, .bloc-5 h4, .bloc-6 h4, .bloc-7 h4, .bloc-8 h4
          {
           color: #6F6B61;
           margin-bottom: 10px;
          }

          #box--2 article p span /* pour centrer le text apres la date / box--2 */
          {
           margin-left: 27px;
          }


/* fin des sections dans les "Articles" */

.pharagraphe
{
 display:none;
}




/* adaptation pour ordinateur */

@media screen and (max-width: 1200px){

  body /* important : la page s'adapte à tout écran */
  {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    height: auto;
  }

  .container
  {
    display: flex;
    align-items: stretch; /* tres important pour la hauteur des deux box's */
  }

   #box--1
  {
    height: auto; /* tres important pour la hauteur des deux box's */
  }

  .row  /* les bloc's sont du coté gauche */
  {
    display:inherit;
  }

  header, #box--2 article
  {
    margin-left:20px;
    margin-right:20px;
  }


  #loisirs
  {
    margin-top: 580px;
  }

  .ligne--article
  {
    margin: auto;
  }

  #recommandations /* la hauteur */
  {
  margin-top: 30px;
  }


}

@media screen and (max-width: 720px){

  body /* important : la page s'adapte à tout écran*/
  {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    height: auto;
  }

  #container, .row  /* pour que l'axe de direction soit vertical*/
  {
    display: inherit;
  }

  .user-photo
  {
   margin-left: 35%;
   /*margin-right:50%;*/

  }


  header
  {
    display: none;
  }

  .pharagraphe
  {
   display: block;
   color: white;
   padding-bottom: 25px;
   text-align:center !important;
  }

  .surname
  {
   color: black;
   font-size: 2em;
   text-transform: uppercase;
   text-align:center !important;
   padding-top: -10px;
  }

  #box--1, #box--2
  {
    width: auto;

  }

  h3
  {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
  }

  #box--2 p
  {
    text-align: center;
    margin-right: -100px;  /* important : pour que le text soit bien répartie!!! */
    margin-left: -100px;  /* important : pour que le text soit bien répartie!!! */
  }


  .row
  {
    display:inline;
    text-align: center;
    font-size: 1em;
    font-stretch:extra-expanded;
  }

  #contact p
  {
    text-align: center;
  }

  #loisirs /* la hauteur */
  {
  margin-top: 70px;
  padding-bottom: 10px;

  }

  #a-propos p
  {
  text-align: center;
  }

  #loisirs p
  {
  margin-left: 20px;
  }

  #formations /* la hauteur */
  {
  margin-top: 30px;
  }

  #recommandations /* la hauteur */
  {
  padding-bottom: 0px;
  }


  .bloc-2, .bloc-3, .bloc-4, .bloc-5, .bloc-6, .bloc-7, .bloc-8 /* important!!!: pour centrer les bloc's */
  {
    padding-left: 100px;
  }

}

/* adaptation pour différents tablettes et mobiles */
@media screen and (max-width: 425px){

/* option 1*/
  body /* important : la page s'adapte à tout écran*/
  {
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    height: auto;
  }

  #container, .row  /* pour que l'axe de direction soit vertical*/
  {
    display: inherit;
  }

  .row
  {
    display:inline;
    /*display:inline-table;*/
   text-align: center;
   font-size: 1em;
   font-stretch:extra-expanded;
    /*width: 100%;*/

  }

  .user-photo
  {
   margin-left: 26%;
   /*margin-right:50%;*/

  }

  #box--2
  {
    width: auto;
  }

  #box--1
  {
    width: auto;
  }

  header
  {
    display: none;
  }

  .pharagraphe
 {
   display: block;
   color: white;
   padding-bottom: 25px;
   text-align:center !important;
 }

.surname
{
  color: black;
  font-size: 2em;
  text-transform: uppercase;
  text-align:center !important;
  padding-top: -10px;
}

p
{
 text-align:center !important;
}

  h3
  {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
  }
  h4
  {
    font-style: oblique;
    font-weight: bold;


  }


  #box--2 p
  {
    text-align: center;
    margin-right: -80px;  /* important : pour que le text soit bien répartie!!! */
    margin-left: -80px;  /* important : pour que le text soit bien répartie!!! */

  }

  .bloc-2, .bloc-3, .bloc-4, .bloc-5, .bloc-6, .bloc-7, .bloc-8 /* important!!!: pour centrer les bloc's */
  {
    padding-left: 75px;
  }

  #contact p
  {
    text-align: center;
  }

  #a-propos /* la hauteur */
  {
  margin-bottom: -450px;
  }

  #loisirs /* la hauteur */
  {
  margin-top: 470px;
  padding-bottom: 10px;

  }

  #loisirs p
  {
  margin-left: -30px;
  }



  #formations /* la hauteur */
  {
  margin-top: 30px;

  }

  #recommandations /* la hauteur */
  {
  margin-top: 30px;
  }

}

/* break-point mobile */
@media screen and (max-width: 375px){

  .user-photo
  {
   margin-left: 23%;
   /*margin-right:50%;*/

  }
}

/* break-point mobile */
@media screen and (max-width: 320px){

  .user-photo
  {
   margin-left: 17%;
   /*margin-right:50%;*/

  }
}
